# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Test / coverage
coverage/

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Editor
.vscode/
.idea/

# Env
.env
.env.local
